{% extends 'landing/base.html' %}
{% load static %}
{% block title %}Error 404 - Página no encontrada{% endblock %}
{% block body_block %}
<div class="container pt-70" id='error404'>
	<div class="row">
		<div class="col-md-4">
			<h1 class="header_404">Oops!</h1>			
			<span class="text_404">No podemos encontrar la página que estás buscando, pero tranquilo, estamos trabajando en ello.</span>
		</div>
		<div class="col-md-8">
			<img class="img-responsive img_404" src="{% static 'landing/img/turtle.png' %}">
		</div>
	</div>
</div>
{% endblock %}
{% block footer_block %}{% endblock %}