{% extends 'landing/base.html' %}
{% load static %}

{% block title %}Curso{% endblock %}

{% block body_block %}
<section id="curso-body" class = 'pt-70'>
	<h1 class = 'align-center'>Información del curso</h1>
	<div class="container pt-20">
		<div class="row">

		<div class="col-md-offset-1 col-md-10 curso-desc">


				{{ descripcion }}
		</div>
		</div>
		<div class="row mt-xs-20 pt-20 mt-md-20 mt-lg-20 pb-50">
			<div class="col-lg-10 col-lg-offset-1">
				<!-- TABS -->
				<ul class="nav nav-tabs" role="tablist" id = 'curso-tabs'>
					{% for seccion in secciones %}
						{% if seccion.estado == 'active' %}
							<li role="presentation" class="active"><a href="#{{ seccion.nombre }}" aria-controls="{{ seccion.nombre }}" role="tab" data-toggle="tab">{{ seccion.nombre }}</a></li>
						{% else %}
							<li role="presentation"><a href="#{{ seccion.nombre }}" aria-controls="{{ seccion.nombre }}" role="tab" data-toggle="tab">{{ seccion.nombre }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<!-- SECCIONES -->
				<div class="tab-content mt-lg-20">
					{% for seccion in secciones %}
						{% if seccion.estado == 'active' %}
							<div role="tabpanel" class="tab-pane fade in active" id='{{ seccion.nombre }}'>
								{{ seccion.descripcion | safe}}
							</div>
						{% else %}
							<div role="tabpanel" class="tab-pane fade" id='{{ seccion.nombre }}'>
								{{ seccion.descripcion | safe}}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}