{% extends 'landing/base.html' %}
{% load static %}
{% block title %}Noticias{% endblock %}
{% block body_block %}
<div class="container pt-70" id='noticias'>
	<h1 class="align-center"> Noticias y Anuncios </h1>
	<p class='pt-20 align-center'>En esta sección podrán encontrar las últimas noticias, anuncios y novedades respecto al curso.</p>
</div>
{% endblock %}

{% block footer_block %}{% endblock %}

{% block scripts_block %}
<script type="text/javascript" src="{% static 'noticias/js/noticias.js' %}"></script>
{% endblock %}