{% extends 'landing/base.html' %}
{% load static %}
{% block title %}Ayudantias{% endblock %}
{% block body_block %}
<div class="container pt-70" id = 'ayudantias'>
	<h1 class="align-center"> Horarios de ayudantías </h1>  
	<p class = 'pt-20'>En esta sección están los horarios de consulta de los ayudantes de la materia. Pueden irles a preguntar sobre algún ejercicio que no entendieron en clases o a recibir clases extras de parte de ellos para profundizar lo aprendido.</p>
	<div class = 'col-lg-offset-1 col-lg-10'>
	<div class="panel-group pt-20" id="accordion" role="tablist" aria-multiselectable="true">
		{% for dia in dias %}
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
							{{ dia }}
						</a>
					</h4>
				</div>
				{% if forloop.first %}
					<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
				{% else %}
					<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
				{% endif %}
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<label> Ayudante </label>
						</div>
						<div class="col-md-3">
							<label> Hora </label>
						</div>
						<div class="col-md-3">
							<label> Aula </label>
						</div>
						<div class="col-md-2">
							<label>  </label>
						</div>                    
					</div>                 
					{% for ayudantia in ayudantias %}
						{% if ayudantia.dia == dia %}
							<div class="row pt-5">
								<div class="col-md-3"><p>{{ ayudantia.ayudante.nombre }}</p></div>
								<div class="col-md-3"><p>{{ ayudantia.horaInicio }} - {{ ayudantia.horaFin }}</p></div>
								<div class="col-md-3"><p>{{ ayudantia.aula.codigo }}</p></div>
								<div class="col-md-3"><button type="button" class="btn orange-btn" data-toggle="modal" data-target="#fiec">Ver Ubicación</button></div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			</div>
		{% endfor %}
	</div>

<div id="labs" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">24A-210</h4>
			</div>
			<div class="modal-body">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d996.7552952472134!2d-79.96738757085174!3d-2.145573999902241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d7303d2b4f74b%3A0xfff0794c7343feea!2sLaboratorios+de+la+FIEC%2C+Guayaquil!5e0!3m2!1ses!2sec!4v1481757903834" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>


<div id="cib" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">24A-210</h4>
			</div>
			<div class="modal-body">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d996.7541898114623!2d-79.96663537085175!3d-2.1472693999021666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d7301bd366677%3A0x7fd58f5e574a0451!2sBiblioteca+Central%2C+Avenida+Principal+de+la+ESPOL%2C+Guayaquil!5e0!3m2!1ses!2sec!4v1481757867272" width="550" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div id="fiec" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">24A-210</h4>
			</div>
			<div class="modal-body">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d996.7553965601389!2d-79.96651327085182!3d-2.1454185499022613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d73023ae1ac19%3A0x67b495e9ec56bc5e!2sAulas+de+la+FIEC%2C+Guayaquil!5e0!3m2!1ses!2sec!4v1481734390763" width="550" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}